@charset "UTF-8";
.heading-container{
    padding: 1.5rem 0;
}
.main-container {
    height: 50rem;
    background: #f2f4f6; 
}
.join-form-container {
    background-color: #fff;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    width: 26rem;
    /* height: 19rem; */
}
.input-size-setting {
    padding: 0.6rem 0.8rem;
    width: 23.8rem;
}
.input-size-setting-halve {
    padding: 0.6rem 0.8rem;
    width: 11.6rem;
}
.input-size-setting-third {
    padding: 0.6rem 0.8rem;
    width: 7.53rem;
}

.input-design-setting {
    background: #FFFFFF;
    border: 1px solid #dddfe2;
    border-radius: 0.5rem;
    font-size: 1.4rem
}
.input-design-setting-halve {
    background: #FFFFFF;
    border: 1px solid #dddfe2;
    border-radius: 0.5rem;
    font-size: 1rem
}
.user-input {
    text-align: start;
}
.user-input:focus {
    outline: none; /* 기본 아웃라인 제거 */
    border-color: #4CAF50;
}
.join-input-container {
    padding: 0.8rem 0;
}
.join-btn-container {
    margin-top: 0.2rem;
}
.join-btn {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}